.report-list-card {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffe6e6;
    border-radius: 8px;
}
.table-container {
    width: 100%;
    overflow-x: auto; 
    display: block;
}
  
table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

@media screen and (max-width: 600px) {
    th,
    td {
      font-size: 14px;
      padding: 8px;
    }
  
    mat-card-title {
      font-size: 18px;
    }
  
    button {
      transform: scale(0.9); 
    }
  }