.report-list-card {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffe6e6;
    border-radius: 8px;
}
.table-container {
    width: 100%;
    overflow-x: auto; 
    display: block;
}
  
table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

.zero-reports{
    width: 60%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    span{
        margin: 10px 0;
    }
    button{
        width: 70%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 600px) {
    th,
    td {
      font-size: 14px;
      padding: 8px;
    }
  
    mat-card-title {
      font-size: 18px;
    }
  
    button {
      transform: scale(0.9); 
    }
  }

  .dark-theme{
    :host{
      mat-card-title{
            color: white
        }
        .report-list-card{
          background-color: rgb(23, 18, 19);
        }
    }
}