.profile-card {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  mat-card-title{
    margin-bottom: 10px;
  }

  mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dark-theme{
    :host{
      mat-card-title{
            color: white
        }
    }
}
  