<mat-toolbar>
  <span routerLink="">Health</span>
  <div class="menu-container">
    <app-language-selector [languages]="langs"></app-language-selector>
    <app-theme-toggle></app-theme-toggle>
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="fetchRequests()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu" >
    @if(userService.isLoggedIn){
      @if(!authService.isDoctor()){
        <button mat-menu-item routerLink="create-report">{{"CREATE_REPORT"|translate}}</button>
        <button mat-menu-item routerLink="reports">{{"MY_REPORTS"|translate}}</button>
        <button mat-menu-item routerLink="doctors">{{"DOCTORS"|translate}}</button>
        @if(incomingRequests$ | async){
          <button mat-menu-item routerLink="incomingRequests"><span>{{"REQUESTS"|translate}} ({{incomingRequests$ | async}})</span></button>
        }
      }
      @else{
        <button mat-menu-item routerLink="dashboard">{{"PATIENTS"|translate}}</button>
        <button mat-menu-item routerLink="sendRequest">{{"REQUESTS"|translate}}</button>
      }
      <button mat-menu-item routerLink="profile">{{"PROFILE"|translate}}</button>
      <button mat-menu-item (click)="logOut()">{{"LOG_OUT"|translate}}</button>
    } @else{
      <button mat-menu-item routerLink="login">{{"LOGIN"|translate}}</button>
      <button mat-menu-item routerLink="register">{{"REGISTRATION"|translate}}</button>
    }


  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>