mat-toolbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--mat-sys-surface-container-low);
}

.menu-container{
    display: flex;

}

.dark-theme{
    :host{
        mat-toolbar{
            background-color: black;
        }
    }

}