<mat-toolbar>
  <span routerLink="">Health</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    @if(userService.isLoggedIn){
      @if(!authService.isDoctor()){
        <button mat-menu-item routerLink="create-report">Create a report</button>
        <button mat-menu-item routerLink="reports">My reports</button>
        <button mat-menu-item routerLink="doctors">Doctors</button>
      }
      @else{
        <button mat-menu-item routerLink="dashboard">Patients</button>
      }
      <button mat-menu-item routerLink="profile">Profile</button>
      <button mat-menu-item (click)="logOut()">Log out</button>
    } @else{
      <button mat-menu-item routerLink="login">Login</button>
      <button mat-menu-item routerLink="register">Registration</button>
    }


  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>