:host{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 20px;
}
mat-card{
    padding: 20px;
    min-width: 30%;
}
form{
    display: flex;
    flex-direction: column;
}

.dark-theme{
    :host{
        h2,mat-label{
            color: white
        }
    }
}