<mat-card>
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput type="email" placeholder="example@example.org">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
      </mat-form-field>
      <button type="submit" [disabled]="!loginForm.valid" mat-flat-button>Login</button>
    </form>
    </mat-card>

